.Button1 {
    color: #FFF;
    font-size: 32px;
    font-style: normal;
    font-weight: 500;
    line-height: 50px; /* 156.25% */
    border-radius: 20px;
    background: #F5930F;
    width: 282px;
    height: 75px;
    flex-shrink: 0;
    border-width: 0;
}